In [84]:
import pandas as pd

In [85]:
data=pd.read_csv("/Users/lamazere/Desktop/ambient_polution_death_rate_tableau.csv",sep=";")

In [86]:
data2=pd.read_csv("/Users/lamazere/Desktop/PM25-air-pollution.csv", sep=";")

In [87]:
data.head()

,Entity,"Ambient air pollution death rates in 2016 (deaths per 100,000)","Ambient air pollution death rates in 1990 (deaths per 100,000)",Total population (2015)
0,Afghanistan,207.655492,227.815221,34499915
1,Albania,38.910625,55.937455,3238316
2,Algeria,47.733217,74.232962,36983924
3,American Samoa,5.921675,11.658514,71834
4,Andorra,14.539828,23.547584,88909

In [88]:
data2=data2[["Entity","Region"]]

In [89]:
data2=data2.drop_duplicates()

In [90]:
print(data.shape,data2.shape)

(192, 4) (228, 2)

In [91]:
merged_data=pd.merge(data,data2,on=['Entity'],how="inner")
merged_data.shape

(179, 5)

In [92]:
merged_data.head()

,Entity,"Ambient air pollution death rates in 2016 (deaths per 100,000)","Ambient air pollution death rates in 1990 (deaths per 100,000)",Total population (2015),Region
0,Afghanistan,207.655492,227.815221,34499915,Asia
1,Albania,38.910625,55.937455,3238316,Europe
2,Algeria,47.733217,74.232962,36983924,Africa
3,American Samoa,5.921675,11.658514,71834,North America
4,Andorra,14.539828,23.547584,88909,Europe

In [93]:
merged_data.to_csv("Ambient_air_pollution_death_rates_pop2015.csv",index=False)